<div class="uk-flex uk-flex-1 bg-page uk-flex-column uk-padding">
  <h3 class="uk-h3">Debug</h3>

  <h4>Toasts</h4>
  <div class="uk-margin-small-bottom">
    {% for status in toast_statuses %}
    <button class="uk-button uk-button-default uk-margin-small-right uk-margin-small-bottom"
      onclick="wlanpiToast('Test {{ status }} toast', '{{ status }}')">{{ status }}</button>
    {% endfor %}
    <button class="uk-button uk-button-default uk-margin-small-bottom"
      onclick="wlanpiToast('Test default toast')">default</button>
  </div>

  <h4>Theme</h4>
  <div class="uk-margin-small-bottom">
    <button class="uk-button uk-button-default" onclick="wlanpiToggleTheme()">Toggle theme</button>
  </div>

  <h4>Session</h4>
  <ul class="uk-list">
    <li>User: {{ current_user }}</li>
    <li>Boot id: {{ boot_id }}</li>
    <li>Last seen: {{ last_seen_age }}s ago</li>
    <li>Idle timeout: {{ idle_timeout }}s</li>
  </ul>

  <h4>Versions</h4>
  <ul class="uk-list">
    <li>WebUI: {{ webui_version }}</li>
    <li>OS: {{ wlanpi_version }}</li>
  </ul>
</div>
