<script>
    function copyCardToClipboard(card) {
      if (window.clipboardData && window.clipboardData.setData) {
        // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
        return window.clipboardData.setData("Text", text);
      }
      else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
        var input = document.createElement("textarea");
        // we're copying from a <p> tag in this instance
        input.innerHTML = document.getElementById(card).innerText;
        input.style.position = "fixed";
        document.body.appendChild(input);
        input.select();
        try {
          document.execCommand("copy");
        }
        catch (ex) {
          console.warn("Copy to clipboard failed.", ex);
          return false;
        }
        finally {
          document.body.removeChild(input);
        }
      }
    }
</script>
<script>
    function hideLoadingSpinner (){
        var spinner = document.getElementById("spinner");
        spinner.style.visibility = "hidden";
    }

    function showLoadingSpinner (){
        var spinner = document.getElementById("spinner");
        spinner.style.visibility = "visible";
        var statusBar = document.getElementById("setup-status-bar");
        statusBar.style.backgroundColor = "#f45625";
        statusBar.style.color = "#ffffff";
        statusBar.innerText = "Setting Up Network...";
    }

    document.addEventListener("DOMContentLoaded", (event) => {
        // getInterfaces();
        var messages = {{ messages | tojson }};
    
        if (messages.length > 0) {
            console.log("api content recieved");
            console.log(messages[0]);

            var statusBar = document.getElementById("setup-status-bar");
            
            if (messages[0].status != "connected") {
                console.log(messages[0].status)
                
                statusBar.style.color = "#ffffff";
                statusBar.style.backgroundColor = "red";
                var statusMessage = `<strong style="margin-right: 10px;">Something Went Wrong</strong> Error message: ${messages[0].status}`
                statusBar.innerHTML = statusMessage;
            }
            
            else {
                statusBar.style.color = "#ffffff";
                statusBar.style.backgroundColor = "#9fce3a";
                var statusMessage = `<strong style="margin-right: 10px;">Connected to ${messages[0].connectedNet.ssid}!</strong> Network BSSID: ${messages[0].connectedNet.bssid}, Network Freq: ${messages[0].connectedNet.freq} hz, Network Signal Strength: ${messages[0].connectedNet.signal} dbm`
                statusBar.innerHTML = statusMessage;
            }
            
            var event_div = document.getElementById("event-log")
            var event_log = messages[0].response.eventLog
            var content = ""

            event_log.forEach(log => {
                content += `<div>${log.time}: ${log.event}</div>`
            });
            
            event_div.innerHTML = content
        }

        const iframe = document.createElement("iframe");
        iframe.src = "/network/getscan";
        iframe.width = "100%";
        iframe.height = "400px";
        iframe.classList.add("uk-cover");
        iframe.style.pointerEvents = "all";

        document.getElementById("scan").appendChild(iframe);

    });


    // function getInterfaces() {
    //     const url = new URL(`http://localhost:31415/api/v1/network/wlan/getInterfaces`)
    //     fetch(url)
    //     .then(response => response.json())
    //     .then(data => console.log(data))
    //     .catch(error => console.error('Error:', error));
    // }


</script>

<style>
    .submit-form-area {
        display: flex;
        flex-direction: row;
        margin: auto;
        padding-top: 20px;
        gap: 30px;
    }

    .spinner {
        display: flex;
        flex-wrap: wrap;
        visibility: hidden;
    }

    .spinner-center {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

    .setup-status-bar {
        background-color: #eeeeee;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
        transition: 0.2s linear
    }

    .event-log {
        background-color: #eeeeee;
        padding: 5px;
        border-radius: 5px;
        margin-top: 10px;
        transition: 0.2s linear
    }
</style>

<div class="uk-flex uk-flex-1 uk-dark uk-background-muted uk-flex-column uk-padding">
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">Wi-Fi Connection</h3>
                    </div>
                </div>
            </div>
            <div class="uk-margin uk-flex uk-flex-column">
                <div class="uk-grid-small uk-flex-middle uk-margin-bottom" uk-grid>
                    <h3 class="uk-margin-remove">Supplicant Service</h3>
                    <div id="supplicant_div">
                        <button class="uk-button uk-button-default" uk-tooltip="loading..." 
                            hx-get="/wpa_supplicant/setup"
                            hx-trigger="load"
                            hx-swap="outerHTML"
                            hx-indicator=".progress">-</button>
                    </div>
                </div>
            </div>
            <hr class="uk-divider-small">
            <div class="setup-status-bar" id="setup-status-bar">Use the form to connect the device to a network.</div>
            <form method="post" style="width: fit-content" class="uk-form-stacked" onsubmit="showLoadingSpinner()">
                <table class="uk-table uk-table-divider uk-table-middle uk-table-small">
                    <tr>
                        <td>Interface:</td>
                        <td><select class="uk-select" name="interface" required>
                            {% for interface in interfaces %}
                            <option>{{ interface }}</option>
                            {% endfor %}
                        </select></td>
                    </tr>
                    <tr>
                        <td>SSID:</td>
                        <td><input type="text" class="uk-input" placeholder="SSID" name="ssid" required></td>
                    </tr>
                    <tr>
                        <td>Passphrase:</td>
                        <td><input type="text" class="uk-input" placeholder="PASSPHRASE" name="psk"></td>
                    </tr>
                    <tr>
                        <td>Key Management:</td>
                        <td><select class="uk-select" name="key_mgmt">
                            <option>NONE</option>
                            <option>WPA-PSK</option>
                            <option>WPA-PSK-SHA256</option>
                            <option>WPA-EPA</option>
                            <option>WPA-EAP-SHA256</option>
                            <option>SAE</option>
                            <option>OWE</option>
                            <option>IEEE8021X</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Proto:</td>
                        <td><select class="uk-select" name="proto">
                            <option>RSN</option>
                            <option>WPA</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Protected Management Frames (ieee80211w):</td>
                        <td><select class="uk-select" name="ieee80211w" required>
                            <option value="0">0: Disabled</option>
                            <option value="1">1: Optional</option>
                            <option value="2">2: Required</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Remove All First:</td>
                        <td><input type="checkbox" class="uk-checkbox" name="removeAllFirst" value="true"></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="submit-form-area">
                                <input type="submit" class="uk-button uk-button-default" style="width: fit-content;"><div uk-spinner class="spinner-center" id="spinner"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="event-log" id="event-log">No Logs</div>

        </div>
    </div>
    <br />
    <div class="uk-flex uk-flex-center">
        <a hx-get="/network/setup" hx-target="#content" hx-trigger="click" hx-indicator=".progress" hx-push-url="true" hx-swap="innerHTML" uk-icon="icon: refresh; ratio: 2" uk-tooltip="Refresh page" class="uk-icon-button" onclick="getScanResults('active', 'wlan0')"></a>
    </div>
    <br />
    <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">Wi-Fi Scan</h3>
                    </div>
                    <div class="uk-width-expand">
                        <p class="uk-text-meta uk-margin-remove-top uk-align-right"><span class="uk-icon-button"uk-tooltip="Copy to Clipboard" onclick="copyCardToClipboard('reachability')"><img src="{{ url_for('static', filename='icon/clip.svg') }}" /></span></p>
                </div>
            </div>
        </div>
        {% autoescape false %}<p id="scan" class="uk-text-break"></p> {% endautoescape %}
    </div>
</div>