<script>
  function copyCardToClipboard(card) {
    if (window.clipboardData && window.clipboardData.setData) {
      // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
      return window.clipboardData.setData("Text", text);
    }
    else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
      var input = document.createElement("textarea");
      // we're copying from a <p> tag in this instance
      input.innerHTML = document.getElementById(card).innerText;
      input.style.position = "fixed";
      document.body.appendChild(input);
      input.select();
      try {
        document.execCommand("copy");
      }
      catch (ex) {
        console.warn("Copy to clipboard failed.", ex);
        return false;
      }
      finally {
        document.body.removeChild(input);
      }
    }
  }
</script>
<div class="uk-flex uk-flex-1 uk-dark uk-background-muted uk-flex-column uk-padding">
  <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid
    uk-height-match="target: > div > .uk-card">
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">Reachability</h3>
            </div>
            <div class="uk-width-expand">
              <p class="uk-text-meta uk-margin-remove-top uk-align-right"><span class="uk-icon-button"
                  uk-tooltip="Copy to Clipboard" onclick="copyCardToClipboard('reachability')"><img
                    src="{{ url_for('static', filename='icon/clip.svg') }}" /></span></p>
            </div>
          </div>
        </div>
        {% autoescape false %}<p id="reachability" class="uk-text-break">{{ reachability }}</p> {% endautoescape %}
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">Public IP</h3>
            </div>
            <div class="uk-width-expand">
              <p class="uk-text-meta uk-margin-remove-top uk-align-right"><span class="uk-icon-button"
                  uk-tooltip="Copy to Clipboard" onclick="copyCardToClipboard('publicip')"><img
                    src="{{ url_for('static', filename='icon/clip.svg') }}" /></span></p>
            </div>
          </div>
        </div>
        {% autoescape false %}<p id="publicip" class="uk-text-break">{{ publicip }}</p> {% endautoescape %}
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">Eth0 IP Config</h3>
            </div>
            <div class="uk-width-expand">
              <p class="uk-text-meta uk-margin-remove-top uk-align-right"><span class="uk-icon-button"
                  uk-tooltip="Copy to Clipboard" onclick="copyCardToClipboard('ipconfig')"><img
                    src="{{ url_for('static', filename='icon/clip.svg') }}" /></span></p>
            </div>
          </div>
        </div>
        {% autoescape false %}<p id="ipconfig" class="uk-text-break">{{ ipconfig }}</p> {% endautoescape %}
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">LLDP Neighbour</h3>
            </div>
            <div class="uk-width-expand">
              <p class="uk-text-meta uk-margin-remove-top uk-align-right"><span class="uk-icon-button"
                  uk-tooltip="Copy to Clipboard" onclick="copyCardToClipboard('lldp')"><img
                    src="{{ url_for('static', filename='icon/clip.svg') }}" /></span></p>
            </div>
          </div>
        </div>
        {% autoescape false %}<p id="lldp" class="uk-text-break">{{ lldp }}</p> {% endautoescape %}
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">CDP Neighbour</h3>
            </div>
            <div class="uk-width-expand">
              <p class="uk-text-meta uk-margin-remove-top uk-align-right"><span class="uk-icon-button"
                  uk-tooltip="Copy to Clipboard" onclick="copyCardToClipboard('cdp')"><img
                    src="{{ url_for('static', filename='icon/clip.svg') }}" /></span></p>
            </div>
          </div>
        </div>
        {% autoescape false %}<p id="cdp" class="uk-text-break">{{ cdp }}</p> {% endautoescape %}
      </div>
    </div>
  </div>
  <br />
  <div class="uk-flex uk-flex-center">
    <a hx-get="/network" hx-target="#content" hx-trigger="click" hx-indicator=".progress" hx-push-url="true"
      hx-swap="innerHTML" uk-icon="icon: refresh; ratio: 2" uk-tooltip="Refresh page" class="uk-icon-button"></a>
  </div>
  <br />
  <div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
      <div class="uk-card-header uk-padding-remove-left uk-padding-remove-right uk-padding-remove-top">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">Wi-Fi Scan</h3>
          </div>
          <div class="uk-width-expand">
            <p class="uk-text-meta uk-margin-remove-top uk-align-right"><span class="uk-icon-button"
                uk-tooltip="Copy to Clipboard" onclick="copyCardToClipboard('reachability')"><img
                  src="{{ url_for('static', filename='icon/clip.svg') }}" /></span></p>
          </div>
        </div>
      </div>
      {% autoescape false %}<p id="scan" class="uk-text-break">{{ scan | safe }}</p> {% endautoescape %}
    </div>
</div>