<h2 class="uk-card-title">System</h2>
<ul class="uk-list uk-list-divider data-list">
  <li>Mode: {{ mode }}</li>
  <li>Wi-Fi mgmt: {{ wlan_management }}</li>
  <li>Hostname: {{ hostname }}</li>
  <li>IP: {{ ip }}</li>
  <li>Hardware: {{ hardware_model }}</li>
  <li>OS version: {{ wlanpi_version }}{% if wlanpi_codename %} {{ wlanpi_codename }}{% endif %}</li>
  <li>Kernel: {{ kernel_version }}</li>
  <li>WebUI: {{ webui_version }}</li>
  <li>Core: {{ wlanpi_core_version }} ({{ wlanpi_core_status }})</li>
  <li>Battery: {{ battery }}</li>
</ul>
