[Unit]
Description=Gunicorn daemon to serve wlanpi-webui
Requires=wlanpi_webui.socket
After=network.target

[Service]
Type=notify
User=wlanpi
Group=wlanpi
WorkingDirectory=/opt/wlanpi/pipx/venvs/wlanpi-webui/lib/python3.9/site-packages/wlanpi_webui
ExecStart=/opt/wlanpi/pipx/bin/gunicorn --workers 1 --bind unix:gunicorn.sock wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=false

[Install]
WantedBy=multi-user.target
