a {
    color: #f45625;
}

a:hover {
    color: black;
}

.uk-button-secondary {
    background-color: #f45625;
}

.uk-divider-icon {
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url(/static/img/divider_icon.svg) !important;
}

.stat-container {
    display: inline-flex;
    padding: 2px 0px 2px 0px;
    color: #fff;
}

.stat-icon {
    padding: 5px;
}

.stat-text {
    padding: 5px;
}

.wlanpi-mode {
    background-color: #f45625;
    border-radius: 30px;
    padding: 12px;
    color: #fff;
    border: 2px solid #222222;
    transition: 0.2s linear;
    /* cursor: pointer; */
}

/* The hover ability is disabled as the dropdown is also disabled. */
/* .wlanpi-mode:hover {
    background-color: #222222;
    color: #fff;
    border: 2px solid #f45625;
} */

.wlanpi-mode-dropdown {
    background-color: #fff;
    border-radius: 32px;
    padding: 8px;
    color: #222222;
    width: 280px;
    height: 160px;
    position: relative;
}

.mode-selector {
    padding: 7px;
    background-color: #9fce3a;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.mode {
    border-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
    width: 80px;
    border: none;
    background-color: #9fce3a;
    transition: 0.2s linear;
    cursor: pointer;
    color: #fff;
}

.mode-active {
    background-color: #fff;
    color: #222222;
    
}

.mode:hover {
    filter: brightness(90%);
}

.mode-description {
    padding: 5px;
    margin-top: 5px;
    text-wrap: wrap;
}

#thebiglebowski {
    min-height: 100vh;
    min-width: 20em;
}

@media (max-width: 640px) {
    #thebiglebowski {
        min-height: 139vh;
    }
}

.progress {
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden;
}

.progress .indeterminate:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

.progress {
    display: none;
}

.htmx-request .progress {
    display: inline;
}

.htmx-request.progress {
    display: inline;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}