# wlanpi-webui.socket

[Unit]
Description=Gunicorn daemon serving wlanpi-webui frontend
Requires=wlanpi-webui.socket
After=network.target

[Service]
Type=notify
User=wlanpi
Group=wlanpi

# workingdirectory is mapped during install via maintainer scripts
# for support multiple versions of Python because unit files will not follow symlinks
WorkingDirectory=/opt/wlanpi-webui/workingdirectory

ExecStart=/opt/wlanpi-webui/bin/gunicorn --workers 1 --bind unix:wlanpi_webui.sock wsgi:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=false

[Install]
WantedBy=multi-user.target
