# wlanpi-webui.socket

[Unit]
Description=wlanpi-webui gunicorn socket

[Socket]
ListenStream=/run/wlanpi_webui.sock
User=wlanpi

[Install]
WantedBy=sockets.target
