<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}WLAN Pi{% endblock %}</title>
  <meta name="author" content="josh@joshschmelzle.com">
  <meta name="description" content="Tools for Wireless LAN Professionals">
  <meta name="theme-color" content="#fff">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-touch.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"
    href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
  <!--UIkit CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.css') }}">
  <!--App CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
  <!--UIkit JS-->
  <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
</head>
<body class="bg-page uk-height-viewport">
  <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-padding">
    <div class="uk-card uk-card-default uk-card-body uk-width-large auth-shell">
      <div class="uk-text-center uk-margin-bottom">
        <img class="auth-logo" src="{{ url_for('static', filename='img/wlanpi-sticker.png') }}" alt="WLAN Pi logo">
        <h1 class="uk-h3 uk-margin-small-top uk-margin-remove-bottom">WLAN Pi</h1>
        <p class="uk-text-meta uk-margin-remove-top">{% block subtitle %}{% endblock %}</p>
      </div>
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
