{% extends "public/layout.html" %} {% block content %}
<div class="uk-flex uk-flex-1 uk-flex-center uk-dark uk-background-muted">
    <div class="uk-section uk-padding-remove-top uk-padding-remove-bottom">
        <div class="uk-flex" uk-grid>
            <div>
                <div class="uk-card uk-card-body uk-dark">
                    <h3 class="uk-card-title">System</h3>
                    <ul class="uk-list">
                        {%- if hostname -%}
                        <li>Hostname: {{ hostname }}</li>
                        {%- endif -%}
                        {%- if wlanpi_version -%}
                        <li>System version: {{ wlanpi_version }}</li>
                        {%- endif -%}
                        {%- if webui_version -%}
                        <li>WebUI version: {{ webui_version }}</li>
                        {%- endif -%}
                        {%- if wlanpi_core_version -%}
                        <li>wlanpi-core version: {{ wlanpi_core_version }}</li>
                        {%- endif -%}
                        {%- if wlanpi_core_status -%}
                        <li>wlanpi-core systemctl status: {{ wlanpi_core_status }}</li>
                        {%- endif -%}
                    </ul>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-dark">
                    <h3 class="uk-card-title">Resources</h3>
                    <ul class="uk-list">
                        <li><a href="https://wlanpi.com" target="_blank" title="Visit WLAN Pi project page" data-uk-tooltip><span uk-icon="icon: home; ratio: 2"></span> WLANPi.com</a></li>
                        <li><a href="https://github.com/WLAN-Pi" target="_blank" title="Visit GitHub for source code" data-uk-tooltip><span uk-icon="icon: github; ratio: 2"></span> GitHub</a></li>
                        <li><a href="https://twitter.com/wlanpi" target="_blank" title="Visit Twitter to get social with WLAN Pi" data-uk-tooltip><span uk-icon="icon: twitter; ratio: 2"></span> Twitter</a></li>
                        <li><a href="https://ko-fi.com/wlanpi" target="_blank" title="Support us by donating on Ko-fi" data-uk-tooltip><span uk-icon="icon: heart; ratio: 2"></span> Buy us a coffee</a></li>
                        <li><a href="https://github.com/WLAN-Pi/feedback" target="_blank" title="Visit WLAN Pi feedback to leave us a note" data-uk-tooltip><span uk-icon="icon: comment; ratio: 2"></span> Give feedback</a>&nbsp;&nbsp;&nbsp;</li>
                        <li><a href="https://docs.wlanpi.com" target="_blank" title="Visit WLAN Pi documentation" data-uk-tooltip><span uk-icon="icon: info; ratio: 2"></span> View our docs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div uk-sticky="position: bottom" class="uk-dark uk-background-muted">
    <p class="uk-text-center">Built with UIkit <a href="http://getuikit.com" title="Visit UIkit" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a> and <a href="https://flask.palletsprojects.com/" target="_blank" title="Flask; web development, one drop at a time" data-uk-tooltop>Flask</a></p>
</div>
{% endblock %}
