{% extends "public/layout.html" %}
{% block content %}
    <script>
        window.addEventListener("DOMContentLoaded", (event) => {
            iframe = document.getElementById('apps_iframe')
            document.getElementById('kismet_btn').addEventListener("click", function() {
                iframe.src = "{{ kismet_iframe }}"
            })
            document.getElementById('grafana_btn').addEventListener("click", function() {
                iframe.src = "{{ grafana_iframe }}"
            })
            document.getElementById('cockpit_btn').addEventListener("click", function() {
                iframe.src = "{{ cockpit_iframe }}"
            })
        })
    </script>

    <div style="display: flex; padding: 2px 2px 2px 2px;" class="uk-dark uk-background-muted">
        <ul style="list-style-type: none; margin-right: auto; margin-left: auto;">
            <li style="display: inline-block;"><button class="uk-button" id="kismet_btn" >Kismet</button></li>
            <li style="display: inline-block; "><button class="uk-button" id="grafana_btn">Grafana</button></li>
            <li style="display: inline-block;"><button class="uk-button" id="cockpit_btn">Cockpit</button></li>
        </ul>
    </div>

<div class="uk-flex uk-flex-1 uk-dark uk-background-muted">
    <div class="uk-flex uk-flex-1 uk-cover-container">
        <iframe id="apps_iframe" class="uk-cover" style="pointer-events: all; border-radius: 5px;" src="{{ iframe }}" width="100%" height="100%"></iframe>
    </div>
</div>
{% endblock %}
