<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="author" content="josh@joshschmelzle.com">
    <meta name="description" content="Tools for Wireless LAN Professionals">
    <meta name="keywords" content="wifi, wlan, wlanpi, wlan pi">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-touch.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">

    <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
  </head>
  <body>
    <!--HANDLE MOBILE-->
    <style>
      #thebiglebowski {
        min-height: 100vh; 
        min-width: 20em;
      }
      @media (max-width: 640px) {
        #thebiglebowski {
          min-height: 139vh;
          }
      }
    </style>
    <!--/HANDLE MOBILE-->


    <script>
      function loadXMLDoc()
      {
          var ip_text = document.getElementById("ip_addr");
          var cpu_text = document.getElementById("cpu");
          var cputemp_text = document.getElementById("cputemp");
          var ram_text = document.getElementById("ram");
          var storage_text = document.getElementById("storage");
          var uptime_text = document.getElementById("uptime");
          
          if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari, SeaMonkey
              xmlhttp=new XMLHttpRequest();
          }
          else
          {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.onreadystatechange=function()
          {
              if (xmlhttp.readyState==4 && xmlhttp.status==200)
              {
                  data = JSON.parse(xmlhttp.responseText)
                  ip_text.innerHTML = data["IP"]
                  cpu_text.innerHTML = data["CPU"]
                  cputemp_text.innerHTML = data["CPU_TEMP"]
                  ram_text.innerHTML = data["RAM"]
                  storage_text.innerHTML = data["DISK"]
                  uptime_text.innerHTML = data["UPTIME"]
  
              }
          }
          xmlhttp.open("GET", "{{ url_for('stream.stream') }}", false);
          xmlhttp.send();
  
      }
      setInterval(loadXMLDoc, 2000);
    </script>

    <div id="thebiglebowski" class="uk-flex uk-flex-column">
      <!--HEADER-->
      <div class="uk-box-shadow-small uk-flex-first uk-background-muted" style="margin: 0px !important;">
          <nav class="uk-navbar-container" id="navbar" data-uk-navbar style="background-color: #222222 !important;">
            <div class="uk-navbar-left">
              <a class="uk-navbar-item uk-logo uk-padding-small uk-padding-remove-bottom uk-padding-remove-top" href="{{ url_for('homepage.homepage') }}"><img src="{{ url_for('static', filename='img/wlanpi-sticker.png') }}" alt="WLAN Pi logo" style="width:96px;"></a>
              <ul class="uk-navbar-nav uk-visible@m">
                <li>
                  <a href="{{ url_for('librespeed.librespeed') }}" style="color: white;">SPEED TEST</a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav uk-navbar-dropdown-width-2">
                      <li><a href="{{ url_for('librespeed.librespeed') }}">LIBRESPEED</a></li>
                      <li><a href="{{ url_for('librespeed.librespeed2') }}">LIBRESPEED (DETAILS)</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="{{ url_for('profiler.profiler') }}" style="color: white;">PROFILER</a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-nav-header">{{ profiler_message }}</li>
                      <li><a href="{{ url_for('profiler.start_stop_profiler', task='stop' if profiler_status else 'start') }}">{{ 'STOP PROFILER' if profiler_status else 'START PROFILER' }}</a></li>
                      <li><a href="{{ url_for('profiler.profiler') }}">PROFILES</a></li>
                      <li><a href="{{ url_for('profiler.purge') }}">PURGE DATA</a></li>
                    </ul>
                  </div>
                </li>        <!-- </div> -->
                <li><a href="{{ url_for('network.network') }}" style="color: white;">NETWORK</a></li>
                <li>
                  <a href="#" style="color: white;">KISMET</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-nav-header">{{ kismet_message }}</li>
                          <li><a href="{{ url_for('kismet.start_stop_kismet', task='stop' if kismet_status else 'start') }}">{{ 'STOP KISMET' if kismet_status else 'START KISMET' }}</a></li>
                          <li><a class="uk-link" style="visibility: {{ 'visible' if kismet_status else 'hidden' }}; display: {{ 'block' if kismet_status else 'none' }};" href="{{ url_for('kismet.kismet') }}" target="_blank">LAUNCH KISMET</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="{{ url_for('grafana.grafana') }}" style="color: white;">GRAFANA</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-nav-header">{{ grafana_message }}</li>
                          <li><a href="{{ url_for('grafana.start_stop_grafana', task='stop' if grafana_status else 'start') }}">{{ 'STOP GRAFANA' if grafana_status else 'START GRAFANA' }}</a></li>
                      </ul>
                  </div>
                </li>
                <li><a href="{{ url_for('cockpit.cockpit') }}" style="color: white;">COCKPIT</a></li>
                <li><a href="{{ url_for('about.about') }}" style="color: white;">ABOUT</a></li>
              </ul>
            </div>
              <div class="uk-navbar-right"> 
              <div class="uk-navbar-item">
                <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>               
              </div>
            </div>
          </nav>
      </div>
      <!--/HEADER-->

      <!-- STATS BAR -->
      <div style="background-color: #fc7313; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: center; font-size: smaller;">
        {% autoescape false %}
        <div style="display: inline-flex; padding: 2px 0px 2px 0px; ">
          <div style="color: #2e2e2e; white-space: pre-wrap; padding: 4px;"><img src="{{ url_for('static', filename='icon/globe.svg') }}"></div>
          <div id="ip_addr" style="color: #2e2e2e; padding: 4px;">---</div>
        </div>

        <div style="display: inline-flex; padding: 2px 0px 2px 0px; align-items: center;">
          <div  style="color: #2e2e2e;"><img src="{{ url_for('static', filename='icon/cpu.svg') }}"></div>
          <div style="padding-left: 8px;">
            <div id="cpu" style="color: #2e2e2e;">---</div>
            <div id="cputemp" style="color: #2e2e2e;">---</div>
          </div>
        </div>

        <div style="display: inline-flex; padding: 2px 0px 2px 0px;">
          <div style="color: #2e2e2e; white-space: pre-wrap; "><img src="{{ url_for('static', filename='icon/ram.svg') }}"></div>
          <div id="ram"  style="color: #2e2e2e; padding-left: 8px;">---</div>
        </div>

        <div style="display: inline-flex; padding: 2px 0px 2px 0px;">
          <div style="color: #2e2e2e; white-space: pre-wrap;"><img src="{{ url_for('static', filename='icon/storage.svg') }}"></div>
          <div id="storage"  style="color: #2e2e2e; padding-left: 8px;">---</div>
        </div>

        <div style="display: inline-flex; padding: 2px 0px 2px 0px;">
          <div  style="color: #2e2e2e; white-space: pre-wrap;">Uptime: </div>
          <div id="uptime"  style="color: #2e2e2e;">---</div>
        </div>
        {% endautoescape %}

      </div>
      <!-- /STATS BAR -->
      <!--CONTENT-->
      <!--<div class="uk-flex uk-flex-1 uk-flex-center uk-dark uk-background-muted">-->
          {% block content %}
          {% endblock %}
      <!--</div>-->
      <!--/CONTENT-->
    </div>
    <!--OFFCANVAS-->
    <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
          <li><a href="{{ url_for('librespeed.librespeed') }}">LIBRESPEED</a></li>
          <li><a href="{{ url_for('librespeed.librespeed2') }}">LIBRESPEED (DETAILS)</a></li>
          <li><a href="{{ url_for('profiler.profiler') }}">PROFILER: PROFILES</a></li>
          <li><a href="{{ url_for('profiler.purge') }}">PROFILER: PURGE DATA</a></li>
          <li><a href="{{ url_for('network.network') }}">NETWORK</a></li>
          <li><a href="{{ url_for('kismet.kismet') }}">KISMET</a></li>           
          <li><a href="{{ url_for('grafana.grafana') }}">GRAFANA</a></li>             
          <li><a href="{{ url_for('cockpit.cockpit') }}">COCKPIT</a></li> 
          <li><a href="{{ url_for('about.about') }}">ABOUT</a></li>
        </ul>
      </div>
    </div>
    <!--/OFFCANVAS-->
    <!--JS FILES-->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}" defer></script>
    <!--/JS FILES-->
  </body>
</html>
