<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="author" content="josh@joshschmelzle.com">
    <meta name="description" content="Tools for Wireless LAN Professionals">
    <meta name="keywords" content="wifi, wlan, wlanpi, wlan pi">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-touch.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  </head>
  <body>
    <!--HANDLE MOBILE-->
    <style>
      #thebiglebowski {
        min-height: 100vh; 
        min-width: 20em;
      }
      @media (max-width: 640px) {
        #thebiglebowski {
          min-height: 139vh;
          }
      }
    </style>
    <!--/HANDLE MOBILE-->

    <div id="thebiglebowski" class="uk-flex uk-flex-column">
      <!--HEADER-->
      <div class="uk-box-shadow-small uk-flex-first uk-background-muted">
        <div class="uk-container uk-container-expand">
          <nav class="uk-navbar-container" id="navbar" data-uk-navbar>
            <div class="uk-navbar-left">
              <a class="uk-navbar-item uk-logo" herf="#"><img src="{{ url_for('static', filename='img/wlanpi-sticker.png') }}" alt="WLAN Pi logo" style="width:96px;"></a>
              <ul class="uk-navbar-nav uk-visible@m">
                <li>
                  <a href="#">SPEED TEST</a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav uk-navbar-dropdown-width-2">
                      <li><a href="{{ url_for('librespeed.librespeed') }}">LIBRESPEED</a></li>
                      <li><a href="{{ url_for('librespeed.librespeed2') }}">LIBRESPEED (DETAILS)</a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">PROFILER</a>
                  <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><a href="{{ url_for('profiler.profiler') }}">PROFILES</a></li>
                      <li><a href="{{ url_for('profiler.purge') }}">PURGE DATA</a></li>
                    </ul>
                  </div>
                </li>
                <li><a href="{{ url_for('network.network') }}">NETWORK</a></li>
                <li><a href="{{ url_for('admin') }}">ADMIN</a></li>
                <li><a href="{{ url_for('terminal') }}">TERMINAL</a></li>
              </ul>
            </div>
              <div class="uk-navbar-right"> 
              <div class="uk-navbar-item">
                <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>               
              </div>
            </div>
          </nav>
        </div>
      </div>
      <!--/HEADER-->

      <!--CONTENT-->
      <!--<div class="uk-flex uk-flex-1 uk-flex-center uk-dark uk-background-muted">-->
          {% block content %}
          {% endblock %}
      <!--</div>-->
      <!--/CONTENT-->

      <!--FOOTER-->
      <div class="uk-section-secondary">
        <div class="uk-section uk-section-xsmall">
          <div class="uk-container">
            <div class="uk-grid uk-child-width-1-2@s uk-text-center uk-text-left@s" data-uk-grid>
              <div class="uk-text-small">
                <ul class="uk-list uk-list-collapse">
                  <li><a href="https://wlanpi.com" target="_blank" title="Visit WLAN Pi project page" data-uk-tooltip><span uk-icon="icon: home; ratio: 2"></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/WLAN-Pi" target="_blank" title="Visit GitHub for source code" data-uk-tooltip><span uk-icon="icon: github; ratio: 2"></span></a>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/wlanpi" target="_blank" title="Visit Twitter to get social with WLAN Pi" data-uk-tooltip><span uk-icon="icon: twitter; ratio: 2"></span></a></li>
                  <br /><li><a href="https://ko-fi.com/wlanpi" target="_blank" title="Support us by donating on Ko-fi" data-uk-tooltip><span uk-icon="icon: heart; ratio: 2"></span></a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/WLAN-Pi/feedback" target="_blank" title="Visit WLAN Pi feedback to leave us a note" data-uk-tooltip><span uk-icon="icon: comment; ratio: 2"></span></a>&nbsp;&nbsp;&nbsp;<a href="https://docs.wlanpi.com" target="_blank" title="Visit WLAN Pi documentation" data-uk-tooltip><span uk-icon="icon: info; ratio: 2"></a></li>
                </ul>
              </div>
              <div class="uk-text-small uk-text-center uk-text-right@s">
                <ul class="uk-list uk-list-collapse">
                  {%- if hostname -%}
                  <li>Hostname: {{ hostname }}</li>
                  {%- endif -%}
                  {%- if wlanpi_version -%}
                  <li>System version: {{ wlanpi_version }}</li>
                  {%- endif -%}
                  {%- if webui_version -%}
                  <li>WebUI version: {{ webui_version }}</li>
                  {%- endif -%}
                  <li>Built with UIkit <a href="http://getuikit.com" title="Visit UIkit" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a> and <a href="https://flask.palletsprojects.com/" target="_blank" title="Flask; web development, one drop at a time" data-uk-tooltop>Flask</a></li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/FOOTER-->
    </div>
    <!--OFFCANVAS-->
    <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
          <li><a href="{{ url_for('librespeed.librespeed') }}">LIBRESPEED</a></li>
          <li><a href="{{ url_for('librespeed.librespeed2') }}">LIBRESPEED (DETAILS)</a></li>
          <li><a href="{{ url_for('profiler.profiler') }}">PROFILER: PROFILES</a></li>
          <li><a href="{{ url_for('profiler.purge') }}">PROFILER: PURGE DATA</a></li>
          <li><a href="{{ url_for('network.network') }}">NETWORK</a></li>             
          <li><a href="{{ url_for('admin') }}">ADMINISTRATION</a></li>       
          <li><a href="{{ url_for('terminal') }}">TERMINAL</a></li> 
        </ul>
      </div>
    </div>
    <!--/OFFCANVAS-->
    <!--JS FILES-->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}" defer></script>
    <!--/JS FILES-->
  </body>
</html>
