{% extends "public/layout.html" %} {% block content %}
<script>
  function copyCardToClipboard(card) {
    if (window.clipboardData && window.clipboardData.setData) {
        // Internet Explorer-specific code path to prevent textarea being shown while dialog is visible.
        return window.clipboardData.setData("Text", text);
    }
    else if (document.queryCommandSupported && document.queryCommandSupported("copy")) {
      var input = document.createElement("textarea");
      // we're copying from a <p> tag in this instance
      input.innerHTML = document.getElementById(card).innerText;
      input.style.position = "fixed";
      document.body.appendChild(input);
      input.select();
      try {
        document.execCommand("copy");
      }
      catch (ex) {
        console.warn("Copy to clipboard failed.", ex);
        return false;
      }
      finally {
        document.body.removeChild(input);
      }
    }
  }
</script>
<div class="uk-flex uk-padding uk-flex-column">
<div class="uk-grid uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > .uk-card">
    <div>   
      <div class="uk-card uk-card-default uk-card-medium uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">Reachability <span uk-icon="icon: copy; ratio: 1" class="uk-icon-button" uk-tooltip="Tap to copy card contents" onclick="copyCardToClipboard('reachability')"></span></h3>
      {% autoescape false %}<p id="reachability">{{ reachability }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">Public IP <span uk-icon="icon: copy; ratio: 1" class="uk-icon-button" uk-tooltip="Tap to copy card contents" onclick="copyCardToClipboard('publicip')"></span></h3>
      {% autoescape false %}<p id="publicip">{{ publicip }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">Eth0 IP Config <span uk-icon="icon: copy; ratio: 1" class="uk-icon-button" uk-tooltip="Tap to copy card contents" onclick="copyCardToClipboard('ipconfig')"></span></h3>
      {% autoescape false %}<p id="ipconfig">{{ ipconfig }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">LLDP Neighbour <span uk-icon="icon: copy; ratio: 1" class="uk-icon-button" uk-tooltip="Tap to copy card contents" onclick="copyCardToClipboard('lldp')"></span></h3>
      {% autoescape false %}<p id="lldp">{{ lldp }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">CDP Neighbour <span uk-icon="icon: copy; ratio: 1" class="uk-icon-button" uk-tooltip="Tap to copy card contents" onclick="copyCardToClipboard('cdp')"></span></h3>
      {% autoescape false %}<p id="cdp">{{ cdp }}</p> {% endautoescape %}
      </div>
    </div>
</div>
</div>
{% endblock %}
