{% extends "public/layout.html" %} {% block content %}
<div class="uk-flex uk-padding uk-flex-column">
<div class="uk-grid uk-child-width-1-3@m" uk-grid uk-height-match="target: > div > .uk-card">
    <div>   
      <div class="uk-card uk-card-default uk-card-medium uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">Reachability</h3>
      {% autoescape false %}<p>{{ reachability }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">Public IP</h3>
      {% autoescape false %}<p>{{ publicip }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">Eth0 IP Config</h3>
      {% autoescape false %}<p>{{ ipconfig }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">LLDP Neighbours</h3>
      {% autoescape false %}<p>{{ lldp }}</p> {% endautoescape %}
      </div>
    </div>
    <div>   
      <div class="uk-card uk-card-default uk-card-hover uk-card-body"> 
      <h3 class="uk-card-title">CDP Neighbours</h3>
      {% autoescape false %}<p>{{ cdp }}</p> {% endautoescape %}
      </div>
    </div>
</div>
</div>
{% endblock %}
