{% extends "public/layout.html" %} {% block content %}
<div class="uk-flex-auto">  
<div class="uk-container uk-padding">
<p><b>profiler</b> is a tool that helps determine the capabilities of wireless clients. This is accomplished by automating the analysis of association frames.</p>
  <ul uk-accordion="">
    <li>
      <a class="uk-accordion-title" href="#">Instructions</a>
      <div class="uk-accordion-content">
        <p>Starting the profiler system process:</p>
        <ul class="uk-list uk-list-hyphen">
          <li>Ensure a supported WLAN NIC is plugged into the WLAN Pi.</li>
          <li>Start the profiler process using the Front Panel Menu System (FPMS).</li>
          <li><kbd>Menu &gt; Apps &gt; Profile &gt; Start</kbd></li>
        </ul>
        <p>Profiling a client:</p>
        <ul class="uk-list uk-list-hyphen">
        <li>Once started the configured SSID will broadcast (default: "WLAN Pi").</li>
        <li>Connect a client and enter any random 8 characters for the PSK.</li>
        <li>The client will expectedly fail authentication but we should receive the association request.</li>
        </ul>
        <p>Once a client is profiled, refresh this page to see new results.</p>
      </div>
    </li>
  </ul>
  {% autoescape false %} {{ content }} {% endautoescape %}
  <!--<p uk-margin=""><button class="uk-button uk-align-center uk-button-secondary uk-button-small" onclick="window.location.reload();">refresh</button></p>-->
</div>
</div>
{% endblock %}
