<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="author" content="josh@joshschmelzle.com">
  <meta name="description" content="Tools for Wireless LAN Professionals">
  <meta name="keywords" content="wifi, wlan, wlanpi, wlan pi">
  <meta name="theme-color" content="#fff">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-touch.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"
    href="{{ url_for('static', filename='img/android-chrome-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
  <!--UIkit CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.css') }}">
  <!--App CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
  <!--UIkit JS-->
  <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
  <!--htmx JS-->
  <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
</head>

<body>
  <div class="progress" style="height: 3px; background-color: white;">
    <div class="indeterminate" style="background-color: #f45625;"></div>
  </div>
  <div id="thebiglebowski" class="uk-flex uk-flex-column">
    <!--HEADER-->
    <div class="uk-box-shadow-small uk-flex-first uk-background-muted" style="margin: 0px !important;">
      <nav class="uk-navbar-container" id="navbar" data-uk-navbar style="background-color: #222222 !important;">
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo uk-padding-small uk-padding-remove-bottom uk-padding-remove-top"
            href="#"><img src="{{ url_for('static', filename='img/wlanpi-sticker.png') }}" alt="WLAN Pi logo"
              style="width:96px;"></a>
          <ul class="uk-navbar-nav uk-visible@m">
            <li>
              <a href="#" style="color: white;">SPEED TEST <span uk-navbar-parent-icon></span></a>
              <div class="uk-navbar-dropdown"
                   uk-dropdown="offset: 0">
                <ul class="uk-nav uk-navbar-dropdown-nav uk-navbar-dropdown-width-1" >
                  <li><a hx-get="/speedtest/librespeed" hx-target="#content" hx-swap="innerHTML" hx-push-url="true"
                      hx-indicator=".progress">LIBRESPEED</a></li>
                  <li><a hx-get="/speedtest/librespeed/details" hx-target="#content" hx-swap="innerHTML"
                      hx-push-url="true" hx-indicator=".progress">LIBRESPEED (DETAILS)</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" style="color: white;">PROFILER <span uk-navbar-parent-icon></span></a>
              <div class="uk-navbar-dropdown"
                   hx-get="/profiler/main_menu"
                   hx-trigger="load, click delay:0.2s, every 2s [document.getElementById('profiler_dropdown').classList.contains('uk-open')]"
                   hx-target="#profiler_ul"
                   hx-swap="innerHTML"
                   id="profiler_dropdown"
                   uk-dropdown="offset: 0">
                <ul class="uk-nav uk-navbar-dropdown-nav" id="profiler_ul">
                </ul>
              </div>
            </li>
            <li><a hx-get="/network" hx-target="#content" hx-trigger="click" hx-indicator=".progress" hx-push-url="true"
                hx-swap="innerHTML" style="color: white;">NETWORK</a></li>
            <li>
              <a href="#" style="color: white;">KISMET <span uk-navbar-parent-icon></span></a>
              <div class="uk-navbar-dropdown"
                      hx-get="/kismet/main_menu"
                      hx-trigger="load, click delay:0.2s, every 2s [document.getElementById('kismet_dropdown').classList.contains('uk-open')]"
                      hx-target="#kismet_ul"
                      hx-swap="innerHTML"
                      id="kismet_dropdown"
                      uk-dropdown="offset: 0">
                <ul class="uk-nav uk-navbar-dropdown-nav" id="kismet_ul">
                </ul>
              </div>
            </li>
            <li><a href="#" style="color: white;">GRAFANA <span uk-navbar-parent-icon></span></a>
              <div class="uk-navbar-dropdown"
                   hx-get="/grafana/main_menu"
                   hx-trigger="load, click delay:0.2s, every 2s [document.getElementById('grafana_dropdown').classList.contains('uk-open')]"
                   hx-target="#grafana_ul"
                   hx-swap="innerHTML"
                   id="grafana_dropdown"
                   uk-dropdown="offset: 0">
                <ul class="uk-nav uk-navbar-dropdown-nav" id="grafana_ul">
                </ul>
              </div>
            </li>
            <li><a hx-get="/cockpit" hx-target="#content" hx-swap="innerHTML" hx-indicator=".progress"
                hx-push-url="true" style="color: white;">COCKPIT</a></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-visible@m">
            <li>
              <a href="#" uk-icon="icon: settings"></a>
              <div class="uk-navbar-dropdown"
                   uk-dropdown="offset: 0">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-nav-header"><a hx-get="/about" hx-target="#content" hx-swap="innerHTML"
                      hx-push-url="true" hx-indicator=".progress">ABOUT</a></li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="uk-navbar-item">
            <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle uk-navbar-toggle-icon href="#offcanvas-nav"
              style="padding-right: 32px;"></a>
          </div>
        </div>
      </nav>
    </div>
    <!--/HEADER-->
    <!--STATS BAR-->
    <div
      style="background-color: #f45625; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: center; font-size: smaller;">
      {% autoescape false %}
      <div style="display: inline-flex; padding: 2px 0px 2px 0px; ">
        <div style="color: #2e2e2e; white-space: pre-wrap; padding: 4px;"><img
            src="{{ url_for('static', filename='icon/globe.svg') }}"></div>
        <div id="ip_addr" style="color: #2e2e2e; padding: 4px;">---</div>
      </div>

      <div style="display: inline-flex; padding: 2px 0px 2px 0px; align-items: center;">
        <div style="color: #2e2e2e;"><img src="{{ url_for('static', filename='icon/cpu.svg') }}"></div>
        <div style="padding-left: 8px;">
          <div id="cpu" style="color: #2e2e2e;">---</div>
          <div id="cputemp" style="color: #2e2e2e;">---</div>
        </div>
      </div>

      <div style="display: inline-flex; padding: 2px 0px 2px 0px;">
        <div style="color: #2e2e2e; white-space: pre-wrap; "><img
            src="{{ url_for('static', filename='icon/ram.svg') }}"></div>
        <div id="ram" style="color: #2e2e2e; padding-left: 8px;">---</div>
      </div>

      <div style="display: inline-flex; padding: 2px 0px 2px 0px;">
        <div style="color: #2e2e2e; white-space: pre-wrap;"><img
            src="{{ url_for('static', filename='icon/storage.svg') }}"></div>
        <div id="storage" style="color: #2e2e2e; padding-left: 8px;">---</div>
      </div>

      <div style="display: inline-flex; padding: 2px 0px 2px 0px;">
        <div style="color: #2e2e2e; white-space: pre-wrap;">Uptime: </div>
        <div id="uptime" style="color: #2e2e2e;">---</div>
      </div>
      {% endautoescape %}
    </div>
    <!--/STATS BAR -->
    <!--CONTENT-->
    <div id="content" class="uk-flex-1 uk-flex uk-dark uk-background-muted">
      {% block content %}
      {% endblock %}
    </div>
    <!--/CONTENT-->
  </div>
  <!--OFFCANVAS-->
  <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
      <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
      <ul class="uk-nav uk-nav-default" uk-nav>
        <li><a hx-get="/speedtest/librespeed" hx-target="#content" hx-swap="innerHTML" hx-push-url="true"
          hx-indicator=".progress">LIBRESPEED</a></li>
        <li><a hx-get="/speedtest/librespeed/details" hx-target="#content" hx-swap="innerHTML"
            hx-push-url="true" hx-indicator=".progress">LIBRESPEED (DETAILS)</a></li>
        <li class="uk-nav-divider"></li>
        <ul class="uk-nav uk-navbar-dropdown-nav" 
        hx-get="/profiler/side_menu"
        hx-trigger="load, click delay:0.2s, every 2s [document.getElementById('offcanvas-nav').classList.contains('uk-open')]"
        hx-swap="innerHTML">
        </ul>
        <li class="uk-nav-divider"></li>
        <li><a hx-get="/network" hx-target="#content" hx-trigger="click" hx-indicator=".progress" hx-push-url="true"
          hx-swap="innerHTML" style="color: white;">NETWORK</a></li>
        <li class="uk-nav-divider"></li>
        <ul class="uk-nav uk-navbar-dropdown-nav" 
            hx-get="/kismet/side_menu"
            hx-trigger="load, click delay:0.2s, every 2s [document.getElementById('offcanvas-nav').classList.contains('uk-open')]"
            hx-swap="innerHTML">
        </ul>
        <li class="uk-nav-divider"></li>
        <ul class="uk-nav uk-navbar-dropdown-nav" 
            hx-get="/grafana/side_menu"
            hx-trigger="load, click delay:0.2s, every 2s [document.getElementById('offcanvas-nav').classList.contains('uk-open')]"
            hx-swap="innerHTML">
        </ul>
        <li class="uk-nav-divider"></li>
        <li><a hx-get="/cockpit" hx-target="#content" hx-swap="innerHTML" hx-indicator=".progress"
          hx-push-url="true">COCKPIT</a></li>
        <li class="uk-nav-divider"></li>
        <li><a hx-get="/about" hx-target="#content" hx-swap="innerHTML"
          hx-push-url="true" hx-indicator=".progress">ABOUT</a></li>
      </ul>
    </div>
  </div>
  <!--/OFFCANVAS-->
  <!--JS-->
  <script>
    function updateStats() {
      var ip_text = document.getElementById("ip_addr");
      var cpu_text = document.getElementById("cpu");
      var cputemp_text = document.getElementById("cputemp");
      var ram_text = document.getElementById("ram");
      var storage_text = document.getElementById("storage");
      var uptime_text = document.getElementById("uptime");

      if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari, SeaMonkey
        var xhr = new XMLHttpRequest();
      } else { // code for IE6, IE5
        xhr = new ActiveXObject("Microsoft.XMLHTTP");
      }
      xhr.onreadystatechange = function () {
        if (xhr.readyState == 4) {
          if (xhr.status == 200) {
            data = JSON.parse(xhr.responseText)
            ip_text.innerHTML = data["IP"]
            cpu_text.innerHTML = data["CPU"]
            cputemp_text.innerHTML = data["CPU_TEMP"]
            ram_text.innerHTML = data["RAM"]
            storage_text.innerHTML = data["DISK"]
            uptime_text.innerHTML = data["UPTIME"]
          }
        }
      }
      xhr.open("GET", "{{ url_for('stream.stream') }}", true);
      xhr.send(null);
    }
    updateStats()
    setInterval(updateStats, 2000);
    // htmx.logAll();
  </script>
  <script src="{{ url_for('static', filename='js/_hyperscript.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/qrcode.min.js') }}" defer></script>
  <!--/JS-->
</body>

</html>