<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="josh@joshschmelzle.com">
  <meta name="description" content="Tools for Wireless LAN Professionals">
  <meta name="keywords" content="wifi, wlan, wlanpi, wlan pi">
  <meta name="theme-color" content="#fff">
  <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
  <!--UIkit CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.css') }}">
  <!--App CSS-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
  <!--UIkit JS-->
  <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
  <!--htmx JS-->
  <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
</head>
<body>
  <script> 
  function setAlertVisibility(visibility) {
  document.getElementById("connection-alert").style.visibility = visibility;
  }
  document.body.addEventListener("htmx:responseError", function() {
      setAlertVisibility("visible")
  });
  document.body.addEventListener("htmx:sendError", function() {
      setAlertVisibility("visible")
  });
  document.body.addEventListener("htmx:afterRequest", function(evt) {
      if (evt.detail.xhr.status === 404 || evt.detail.xhr.status === 502) {
          setAlertVisibility("visible")
      } else {
          setAlertVisibility("hidden")
      }
  });
  </script> 
  <div class="progress" style="height: 5px; background-color: white;">
    <div class="indeterminate" style="background-color: #f45625;"></div>
  </div>
  <div id="thebiglebowski" class="uk-flex uk-flex-column">
    <table class="uk-table uk-table-small uk-table-striped">
        <tr>
            <th>
                SSID
            </th>
            <th>
                BSSID
            </th>
            <th>
                Key Mgmt
            </th>
            <th>
                Signal
            </th>
            <th>
                Freq
            </th>
        </tr>
        {% for network in netScan['nets'] %}
            <tr>
            {% for key, value in network.items(): %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {{ groupedScan }}
  </div>
  <!--/OFFCANVAS-->
  <!--JS-->
  <script src="{{ url_for('static', filename='js/_hyperscript.min.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/qrcode.min.js') }}" defer></script>
  <!--/JS-->
</body>

</html>